@import "./variables";
@import "./rwd";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif;
}

.comp-title {
  background: url("../assets/imgs/titleShape.svg") no-repeat center;
  background-size: 100% 100%;
  width: 320px;
  height: 190px;
  @include flex-center;
  z-index: 1;

  .title {
    font-family: TTOctoSquaresLight, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.comp-with-leaf {
  .leaf-top {
    width: 50%;
    height: 100px;
    background: url("../assets/imgs/leafBottom.png") no-repeat top;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .leaf-bottom {
    width: 50%;
    height: 100px;
    background: url("../assets/imgs/leafTop.png") no-repeat bottom;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  @include mobile {
    .leaf-top, .leaf-bottom {
      display: none !important;
    }
  }
}

.comp-bg-blur {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.comp-primary-btn {
  margin-top: 50px;
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;

  .mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    margin-top: 17px;
    overflow: hidden;
    font-weight: bold;
    font-size: 1.3rem;

  }

  .btn-item {
    border-radius: 8px;
    width: 101%;
    height: 100%;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 15px;
    color: #000000;
    font-size: 1.3rem;
    background-color: #b1c3b8;
    @include button(
                    "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
                    2300%,
                    100%,
                    none,
                    #fff);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation: ani 0.7s steps(22) forwards;
    }
  }

  @include mobile {
    margin-top: 24px;
  }
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}