@mixin button($url,$x1,$y1,$bor,$col) {
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}