@font-face {
  font-family: TTOctoSquaresLight;
  src: url(TTOctosquaresExp-Light.woff) format("woff");
}

@font-face {
  font-family: Impact;
  src: url(ImpactLTStd.woff) format("woff");
}

@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}