@import "../../styles/variables";
@import "../../styles/rwd";

.about-comp {
  background-color: #545454;
  min-height: 100vh;
  position: relative;

  &-container {
    min-height: 100%;
    padding: 20px 0;
  }

  .comp-bg-blur {
    background-color: rgba(84, 84, 84, .4)
  }
}

.about-comp-container .about-comp-content {
  padding: 20px 0;

  .item {
    padding: 10px;
    z-index: 1;

    &-img {
      width: 200px;
      height: 300px;
      position: relative;

      .img-border {
        position: absolute;
        top: 20px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: url("../../assets/imgs/imageBorder.gif") no-repeat center;
        background-size: 100% 100%;

        img {
          width: 90%;
          height: 90%;
          object-fit: cover;
        }
      }
    }

    &-content {
      background-color: #f5deb3;
      padding: 30px 20px 20px 20px;
      border-radius: 20px;

      .content {
        color: #000000;
        font-family: 'Inika', serif;
        font-size: 1.5rem;
        font-weight: 700;

        &:not(:first-child) {
          margin-top: 24px;
        }
      }

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 100%;
      }

      @include desktop {
        width: 90%;
      }


      @include wide-desktop {
        width: 80%;
      }
    }
  }
}